#set ($serviceContext = $portal.getClass().forName("com.liferay.portal.service.ServiceContextThreadLocal").getServiceContext())
#set ($httpServletRequest = $serviceContext.getRequest())
#set($articleId =$paramUtil.getLong($httpServletRequest, 'articleId'))
#set($departmentId =$paramUtil.getLong($httpServletRequest, 'site'))


#if($articleId != 0)
    			#set ($articleContent = $journalContentUtil.getContent($departmentId, $articleId.toString(), null, $locale.toString(), $themeDisplay))
    
    #if($articleContent)
        $articleContent
	#end
	#end
#if(!$entries.isEmpty())
<div class="newswheel">
    #foreach ($entry in $entries)
		#set($renderer = $entry.getAssetRenderer() )
			#set($className = $renderer.getClassName() )
			#if( $className == "com.liferay.portlet.journal.model.JournalArticle" )
				#set( $journalArticle = $renderer.getArticle() )
			
						#set( $document = $saxReaderUtil.read($journalArticle.getContent()) )
						#set( $rootElement = $document.getRootElement() )
						
						#set( $xPathShortDescription = $saxReaderUtil.createXPath("dynamic-element[@name='description']") )
						#set( $shortDescription = $xPathShortDescription.selectSingleNode($rootElement).getStringValue() )
						#if($articleId == $journalArticle.getArticleId())
					    	<p>$shortDescription</p>
						#end
				#end
			#end
	
    #end