#if(!$entries.isEmpty())
<div class="newswheel">
    #foreach ($entry in $entries)
		#set($renderer = $entry.getAssetRenderer() )
	
			#set($className = $renderer.getClassName() )
			#if( $className == "com.liferay.portlet.journal.model.JournalArticle" )
				#set( $journalArticle = $renderer.getArticle() )
		
			
						#set( $document = $saxReaderUtil.read($journalArticle.getContent()) )
						#set( $rootElement = $document.getRootElement() )
					
						
						
						#set( $xPathShortDescription = $saxReaderUtil.createXPath("dynamic-element[@name='short_description']") )
							#set( $xPathContributedBy = $saxReaderUtil.createXPath("dynamic-element[@name='contributed_by']") )
								#set( $xPathLocation = $saxReaderUtil.createXPath("dynamic-element[@name='location']") )
									#set( $xPathBusinessName = $saxReaderUtil.createXPath("dynamic-element[@name='business_name']") )
						
						#set( $xPathChooseDefaultImage = $saxReaderUtil.createXPath("dynamic-element[@name='thumbnail']") )
						
							#set( $contributedBy = $xPathContributedBy.selectSingleNode($rootElement).getStringValue().trim())
								#set( $location = $xPathLocation.selectSingleNode($rootElement).getStringValue().trim())
									#set( $businessName = $xPathBusinessName.selectSingleNode($rootElement).getStringValue().trim() )
						#set( $shortDescription = $xPathShortDescription.selectSingleNode($rootElement).getStringValue())
						
						#set( $chooseDefaultImage = $xPathChooseDefaultImage.selectSingleNode($rootElement).getStringValue() )
					<div class="newswheelitem clearfix">	
					    <a href="$themeDisplay.getPathFriendlyURLPrivateGroup()$themeDisplay.getParentGroup().getFriendlyURL()/detailed-article/-/news_content/$entry.getGroupId()/$journalArticle.getArticleId()/Humour"><img style="" src="$chooseDefaultImage" alt="$entry.getTitleCurrentValue()"></a>
						<h2><a href="$themeDisplay.getPathFriendlyURLPrivateGroup()$themeDisplay.getParentGroup().getFriendlyURL()/detailed-article/-/news_content/$entry.getGroupId()/$journalArticle.getArticleId()/Humour">$entry.getTitleCurrentValue()</a></h2>
						<div class="userdetail">
						
						#set ($pubDate = $dateTool.toDate("EEE, dd MMM yyyy hh:mm:ss Z" , $journalArticle.modifiedDate, $locale))
        #set ($pubDateFormat = $dateTool.format("MMM dd, yyyy",$pubDate,$locale))
							<!--<div>
								<span class="contributer">$contributedBy</span>, $businessName, $location  
							</div>-->
							<div>
							    #if(!$contributedBy.isEmpty())
								    <span class="contributer">$contributedBy</span>
								#end
								#if(!$contributedBy.isEmpty() && !$businessName.isEmpty())
								,
								#end
								#if(!$businessName.isEmpty())
								     $businessName
								#end
								#if(!($contributedBy.isEmpty() && $businessName.isEmpty()) && !$location.isEmpty())
								,
								#end
								#if(!$location.isEmpty())
								     $location
								#end
							</div>
							<!--<div>
								$pubDateFormat - Last modified <span class="customtimestamp">$journalArticle.modifiedDate</span>
							</div>-->	
						
						</div>
					</div>
						
				#end
		        
			#end
		<!--<a class="pull-left" href="$themeDisplay.getPathFriendlyURLPrivateGroup()$themeDisplay.getParentGroup().getFriendlyURL()/news-wheel-archives">Read more >></a>-->	
</div>
    #end