<div class="news-brief-component">
<ul>
<#list entries as entry>
	<#assign entry = entry />

	<#assign assetRenderer = entry.getAssetRenderer() />
    <#assign className = assetRenderer.getClassName() />
   
    <#if className == "com.liferay.portlet.journal.model.JournalArticle" >
    	<#assign journalArticle = assetRenderer.getArticle() >
		<#assign document = saxReaderUtil.read(journalArticle.getContent()) >
		<#assign rootElement = document.getRootElement() >
   
	    
	    <#assign articleDescr = entry.getTitleCurrentValue() >
	     <#assign xPathContributedBy = saxReaderUtil.createXPath("dynamic-element[@name='contributed_by']") >
	    <#assign contributedBy = xPathContributedBy.selectSingleNode(rootElement).getStringValue() >
	    
	     <#assign xPathContributedBy = saxReaderUtil.createXPath("dynamic-element[@name='contributed_by']") >
	    <#assign contributedBy = xPathContributedBy.selectSingleNode(rootElement).getStringValue() >
	    
		<#assign entryTitle = htmlUtil.escape(assetRenderer.getTitle(locale)) />
	
	    <#assign viewURL = assetPublisherHelper.getAssetViewURL(renderRequest, renderResponse, entry, true) />
        <li>
            <div class="news-brief-item">
                <div class="news-brief-heading">
					<a href="${themeDisplay.getPathFriendlyURLPrivateGroup()}${themeDisplay.getParentGroup().getFriendlyURL()}/detailed-article/-/news_content/${entry.getGroupId()}/${journalArticle.getArticleId()}/Popular News">
						${articleDescr}</a>
				</div>
				<div class="news-brief-des">By ${contributedBy}</div>
            </div>
    	</li>
    </#if>
</#list>
</ul>
</div>