#if(!$entries.isEmpty())
#set($count = 1)
    	#foreach ($curEntry in $entries)
		#set($renderer = $curEntry.getAssetRenderer() )
			#set($className = $renderer.getClassName() )
			#if( $className == "com.liferay.portlet.journal.model.JournalArticle" )
				#set( $journalArticle = $renderer.getArticle() )

						#set( $document = $saxReaderUtil.read($journalArticle.getContent()) )
						#set( $rootElement = $document.getRootElement() )
			
						#set( $xPathSelectorImages = $saxReaderUtil.createXPath("dynamic-element[@name='image']") )
						#set($xPathDescription = $saxReaderUtil.createXPath("dynamic-element[@name='description']") )
                        #set($xPathVideoURL = $saxReaderUtil.createXPath("dynamic-element[@name='video_url']") )
						 
						
						#set( $News_Image = $xPathSelectorImages.selectSingleNode($rootElement).getStringValue() )
						#set( $description = $$xPathDescription.selectSingleNode($rootElement).getStringValue() )
						#set( $videoURL = $$xPathVideoURL.selectSingleNode($rootElement).getStringValue() )
						
					
		#if ($count%2 == 1)
    		<div class="row-fluid">
        #end
			
			<div class="span6">		
				<div class="videobox">
					<img src="$News_Image" alt="$curEntry.getTitle($locale)">
					<h5><a class="quizboxbtn" title="$curEntry.getTitleCurrentValue()" href="$themeDisplay.getPathFriendlyURLPrivateGroup()$themeDisplay.getParentGroup().getFriendlyURL()/detailed-video-story/-/journal_content/101?articleId=$journalArticle.getArticleId()&amp;site=$entry.getGroupId()">#if ($curEntry.getTitleCurrentValue().length() > 45)
					$curEntry.getTitleCurrentValue().substring(0,25).concat("...")                        #else
                           $curEntry.getTitleCurrentValue()
                        #end</a>
                        </h5>
					#if ($description.length() > 44)
                            <p>$description.substring(0,44).concat("...")</p>
                        #else
                            <p>$description</p>
                        #end
					
					
				</div>
            </div>    
       	#if ($count%2 == 0)
		  </div>
        #end
        #set($count = $count + 1) 
		#end
    #end
    #if($count%2 != 1)
    	</div>
    #end
#end