#if (!$caption.getSiblings().isEmpty())
<div id="myCarousel">
	#foreach ($cur_caption in $caption.getSiblings())
			#if (!$cur_caption.getChild('description').getSiblings().isEmpty())
				#foreach ($cur_description in $cur_caption.getChild('description').getSiblings())
					#if (!$cur_description.getChild('image1').getSiblings().isEmpty())
						#foreach ($cur_image in $cur_description.getChild('image1').getSiblings())
							<div class="image-viewer-base-image" style="background-image: url(${cur_image.getData()})">
							    <div class="container-fluid">
							        <div class="bannerbox">
								        <h1>$cur_caption.getData()</h1>
								        <p>$cur_description.getData()</p>
								    </div>
								</div>
							</div>
						
						#end
					#end
				#end
			#end
	#end
</div>
#end