#set ($groupId = $themeDisplay.getLayout().getGroupId())

#set ($journalArticleLocalService = $serviceLocator.findService("com.liferay.portlet.journal.service.JournalArticleLocalService"))
#set ($ja = $journalArticleLocalService.getArticle( $groupId, $reserved-article-id.data ))
#set ($resourceprimKey = $ja.getResourcePrimKey())
#set ($assetEntryLocalService = $serviceLocator.findService("com.liferay.portlet.asset.service.AssetEntryLocalService"))
#set ($assetEntry = $assetEntryLocalService.getEntry("com.liferay.portlet.journal.model.JournalArticle", $resourceprimKey))
 #set ($pubDate = $dateTool.toDate("EEE, dd MMM yyyy hh:mm:ss Z" , $journalArticle.modifiedDate, $locale))
        #set ($pubDateFormat = $dateTool.format("MMMM dd, yyyy",$assetEntry.getModifiedDate(),$locale))
  #set ($mbMessageLocalService = $serviceLocator.findService("com.liferay.portlet.messageboards.service.MBMessageLocalService"))
 
#set($count = $mbMessageLocalService.getDiscussionMessagesCount("com.liferay.portlet.journal.model.JournalArticle", $resourceprimKey,0))

<div class="row-fluid">
<div class="span8">
        <b>By $contributed_by.getData()
        #if (!$business_name.getData().isEmpty())
        , 
        #end
        $business_name.getData()
        #if (!$business_name.getData().isEmpty() && !$location.getData().isEmpty())
        , 
        #end
        $location.getData()</b><br>
        <!--$pubDateFormat-->
    </div>
</div>
<hr/>
#if ($choose_default_image.getSiblings().size() > 1)
<link rel="stylesheet" href="/newsletter-theme/css/kGallery.css" />
<script type="text/javascript" src="/newsletter-theme/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/newsletter-theme/js/kGallery-full.min.js"></script>
<style>
.kSlideshowWrapper, .kSlideshowItemDiv{
    width: 100%;
    height: 275px;
}
.kSlideshowWrapper{
    padding-bottom: 30px;
    margin: 0 auto;
}
.kSlideshowItemDiv img{
    z-index: 400;
    width: 100%;
    height: 275px;
}
</style>

<div id="slideshow-only">
 
</div>
#else
#if (!$choose_default_image.getSiblings().isEmpty())
	#foreach ($cur_choose_default_image in $choose_default_image.getSiblings())
		<img alt="" src="$cur_choose_default_image.getData()" style="width: 100%; margin-bottom: 10px;" />
	#end
#end
#end
$description.getData()
 <div class="gototop pull-right">
			    <a href="#main-content">
			        <img src="/newsletter-theme/images/the-newsmaker/go-to-top.png" alt="Go to Top">
		        </a>
    </div>
#if ($choose_default_image.getSiblings().size() > 1) 

<script>
$(document).ready(function() {
    gallery = kSlideshow({
        wrapper: '#slideshow-only',
		dataType: 'array',
        dataSource:  [
        #if (!$choose_default_image.getSiblings().isEmpty())
      
	        #foreach ($cur_choose_default_image in $choose_default_image.getSiblings())
		        {
            		"large":"$cur_choose_default_image.getData()"
            	},
	        #end
        #end
        ],
        autoPlay: false, //autoplayback is turned off
        enableTitle: false, //images titles is turned off
        startItem: 0
    });
});
</script>
#end